h1{
    background-color: black;
    text-align: left;
    margin-bottom: 1%;
    
}
span.my{
    color: aliceblue;
    font-weight: bolder;
}
span.cloud{
    color: aqua;
    font-weight: bolder;
   
}
h2{
    background-color: blueviolet;
    text-align: center;
    font-style: italic;
    margin-top: 0%;
    margin-bottom: 1%;
}
h3{
    background-color: aquamarine;
    text-align: right;
    text-decoration: underline;
    margin-top: 0%;
    margin-bottom: 1%;
}