.container {
    background-color: rgb(223, 219, 230);
    border: 20px;
    padding: 20px;
    
}
h1{
    color: rgb(2, 0, 0);
    text-align: center;
    font-size: 50px;
}
#block1 {
    background-color: rgb(0, 204, 255);
    eight: 200px;
    margin: 8px;
    display: flex;
    justify-content: space-around;
}
#img1{
    margin-top: 12px;
    margin-bottom: 12px;
}
#img2{
    margin-top: 12px;
    margin-bottom: 12px;
}
#img3{
    margin-top: 12px;
    margin-bottom: 12px;
}

#block2 {
    background-color: rgb(247, 173, 250);
    eight: 200px;
    margin: 8px;   
    display: flex;
    justify-content: space-around;
}
#img21{
    margin-top: 12px;
    margin-bottom: 12px;
}
#img22{
    margin-top: 12px;
    margin-bottom: 12px;
}
#block3 {
    background-color: rgb(255, 255, 255);
    height: 200px;
    margin: 8px;
    display: flex;
    justify-content: space-around;
}
#block3 > img{
    margin-top: 12px;
    margin-bottom: 12px;
}